extends ../template/admin_temp

block addcss
	link(href="css/update.css", rel="stylesheet")
		
block addjs
	script(src="js/fileupload.js")
	
block addContent
	h1= data || "Không có dữ liệu truyền vào!"
	#div-upload
		form(action="/service/update", method="post")#f-upload-file
			select#app-select(name="app", on)
				- each app in list
					option(value="#{ app.key }")= app.name
			br
			label(for="ver-upload") Version
			input#ver-upload.tb-input(type="text", name="url", placeholder="v1.00.000")
			button#add-file Thêm file
			button#submit(type="submit") Cập nhật
	#dragandrophandler
		- each file in files
			.statusbar
				.filename= file.name
				.filesize= file.size