extends ../template/admin_temp

block addcss
	link(href="css/update.css", rel="stylesheet")
		
block addjs
	script(src="js/fileupload.js")
	
block addLogin
block addContent
	h1= title || "Quản trị hệ thống Admin!"
	#div-upload
		form(action="/service/update", method="post")#f-upload-file
			select#app-select(name="app", on)
				- each app in list
					option(value="#{ app.key }")= app.name
			br
			label(for="ver-upload") Version
			input#ver-upload.tb-input(type="text", name="ver", placeholder="v1.00.0000")
			input#file(type="file", name="file", style="display:none;")
			button#submit(type="submit") Cập nhật
	.div-group-icon
		label Click để thêm file hoặc kéo thả file vào khung bên dưới ...
		span#open-file.glyphicon.glyphicon-plus
	#dragandrophandler