<!DOCTYPE html>
html(lang="#{ clanguage }")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title || "Admin NhanViet Webservice"
        //- base(href="https://service-nhanviet.herokuapp.com")
        base(href="http://localhost:3000")
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/admin.css", rel="stylesheet")
        link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet")
        script(src="js/jquery-3.1.1.min.js")
        script(src="js/jquery.validate.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/eModal.min.js")
        script(src="js/admin.js")
        script(src="ckeditor/ckeditor.js")
        script(src="js/moment.min.js")
        script.
            $(document).ready(function() {
                var then = $('#clock-time'),
                    update = function() {
                        then.html(moment(new Date()).format("YYYY/MM/DD HH:mm:ss"));
                    };
                update();
                setInterval(update, 1000);
            });
        //- Thu vien them vao header
        block addcss
        block addjs
    body
        #div-content
            #div-left
                #div-admin
                    span#clock-time 2017/12/01
                    img(src="http://via.placeholder.com/350x150")
                    p#user Lokit007
                    i Online
                    .div-clear
                    #action
                        button.btn.btn-primary.btn-xs info
                        button.btn.btn-primary.btn-xs Update
                        button.btn.btn-primary.btn-xs Logout
                    .div-clear
                    #div-alert
                        ul
                            li: a
                                span 25
                                i.fa.fa-shopping-basket
                            li: a
                                span 250
                                i.fa.fa-shopping-basket
                            li: a
                                span 0
                                i.fa.fa-shopping-basket
                            li: a
                                span 2
                                i.fa.fa-shopping-basket
                block addMenu
                    ul.nav.nav-pills.nav-stacked
                        li: a(href="/admin")
                            i.fa.fa-home.fa-2x
                            | Trang chủ
                        li: a(href="/admin/category")
                            i.fa.fa-calendar-plus-o.fa-2x
                            | Danh mục
                        li: a(href="/service/update")
                            i.fa.fa-pencil-square-o.fa-2x
                            | Cập nhật
                        li.show-menu
                            a
                                i.fa.fa-apple.fa-2x
                                |  Ứng dụng
                                span.caret
                            ul.sub-menu
                                li: a(href="/service/email")  Send Mail Marketing
                                li: a English Study
                        li: a(href="/admin")
                            i.fa.fa-bell-o.fa-2x
                            | Thông báo
                        li: a(href="/admin")
                            i.fa.fa-bar-chart.fa-2x
                            | Thông kê hệ thống
            #div-right
                block addLogin
                    p Noi dung chinh hien thi
                block addContent
                    p Noi dung chinh hien thi
            .div-clear
        #waiting.hide: i.fa.fa-spinner.fa-spin.fa-3x(aria-hidden="true")