<!DOCTYPE html>
html(lang="#{ clanguage }")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title || "Admin NhanViet Webservice"
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/admin.css", rel="stylesheet")
        script(src="js/jquery-3.1.1.min.js")
        script(src="js/jquery.validate.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/eModal.min.js")
        script(src="js/admin.js")
        //- Thu vien them vao header
        block addcss
        block addjs
    body
        block addheader
            #div-header
                h1 Gom logo, menu, quang ba, ...
        #div-content
            #div-left
                block addcontent
                    p Noi dung chinh hien thi
            #div-right
                block addright
                    h2 Cac thong tin cap nhat, link lien ket, quang cao, ...
            .div-clear
        block addfooter
            h4 Phan cuoi cua trang web

